doctype html
html
  head
    title ComputeNet
    style.
      main { text-align: center; }
      .task-form { margin: 20px 0; }
      input, button { margin: 5px; padding: 8px; }
  body
    header
      h1 ComputeNet
    main
      #get-task
        h3 Get Task

      .task-form
        h3 Submit Task
        input#number(type="number" placeholder="Number")
        input#chainLength(type="number" placeholder="Chain Length")
      #tasks
        h3 Tasks
        #taskList

